extends layout

block content
  head
    script(src='/javascripts/search.js')
  h5 Search Results
  h6 Recipes
  .column
    button#button0.btn(onclick= "" type='button')
      a#link0.button(href='')
        img#recipeimg0(src = "", alt = "Recipe Image", style = "width:275px;height:183px")
        p1#demo0
  .column
    button#button1.btn(onclick= "" type='button')
      a#link1.button(href='')
        img#recipeimg1(src = "", alt = "Recipe Image", style = "width:275px;height:183px")
        p1#demo1
  .column 
    button#button2.btn(onclick= "" type='button')
      a#link2.button(href='')
        img#recipeimg2(src = "", alt = "Recipe Image", style = "width:275px;height:183px")
        p1#demo2
  .column 
    button#button3.btn(onclick= "" type='button')
      a#link3.button(href='')
        img#recipeimg3(src = "", alt = "Recipe Image", style = "width:275px;height:183px")
        p1#demo3
  .column 
    button#button4.btn(onclick= "" type='button')
      a#link4.button(href='')
        img#recipeimg4(src = "", alt = "Recipe Image", style = "width:275px;height:183px")
        p1#demo4

    